name: Build, Test and Deploy Documentation
on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'

  workflow_dispatch:

permissions: 
  contents: write

jobs:
  Build-Test-Documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Cache Gradle dependencies
        uses: actions/cache@v5.0.1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts') }}

      - name: Cache Gradle wrapper
        uses: actions/cache@v5.0.1
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '18'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Test with Gradle
        run: ./gradlew jvmTest

      - name: Generate API documentation
        run: ./gradlew dokkaHtml

      - name: Deploy API documentation to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FOLDER: build/dokka